* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.ant-layout {
  background: none;
}

.title {
  position: relative;
  height: 12em;
}

.title::after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -2;
  content: "";
  width: 28em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: rgb(231, 244, 255);
  transform: translate(-50%, -50%);
}

.title::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  content: "";
  width: 24em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: rgb(235, 252, 249);
  transform: translate(-50%, -50%);
}
